.navbar {
	background-color: rgba(255,255,255,0.9);
	padding: 0;
}

#logo-navbar {
	width: 150px;
	height: auto;
}

@media (min-width: 576px) {
	#logo-navbar {
		width: 100%;
		max-width: 250px;
	}
}

.nav-link {
	/*color: #1522F1;*/
	/*color: #288B58;*/
	color: black;
	border-width: 0;
	border-style: solid;
	border-color: #1522F1;
	transition: background-color 0.1s ease-in-out;
}

.nav-link.active {
	color: black;
	border-width: 0 0 2px 0;
}

.nav-link:hover {
	color: black;
	background-color: rgba(40, 139, 88, 0.5);
}

.nav-link:hover:not(.active) {
	
}

/*https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/*/
.navbar-toggler {
	border-color: black;
}
.navbar-toggler-icon {
	/*background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
	background-image: url("../../assets/images/navbar-toggler-icon.png");
}
