#ticker {
    
}

.ticker-wrap {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.ticker-scroll {
    display: inline-block;
    /* Keep animation delays. Scroll animation doesn't start on mobile Safari and Chrome without them. */
    -webkit-animation: ticker 50s linear 1ms infinite;
    -moz-animation: ticker 50s linear 1ms infinite;
    -o-animation: ticker 50s linear 1ms infinite;
    animation: ticker 50s linear 1ms infinite;
}

@keyframes ticker {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-item {
    display: inline-block;
    padding-right: 7em;
    color: white;
}

.ticker-price {
    display: inline-block;
    width: 0;
    transition: color linear 0.5s;
    will-change: contents, color;
}
