#tz-screener-left {
	background-color: #107d48;
	width: 200px;
}

#tz-screener-left .dropdown-toggle {
	width: 100%;
}

#tz-screener-left .dropdown-menu {
	width: 100%;
	max-height: 600px;
	overflow-y: auto;
}