@font-face {
	font-family: DINProBlack;
	src: url("../fonts/DINPro-Black tr.woff");
}

@font-face {
	font-family: DINProBold;
	src: url("../fonts/DINPro-Bold tr.woff");
}

@font-face {
	font-family: DINProLight;
	src: url("../fonts/DINPro-Light tr.woff");
}

@font-face {
	font-family: DINProMedium;
	src: url("../fonts/DINPro-Medium tr.woff");
}

html, body, #root {
	height: 100%;
	margin: 0;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	background-color: gray;
}

#app {
	font-family: DINProMedium;
	font-variant-ligatures: no-common-ligatures;
	color: black;
	height: 100%;
}

.tab-container {
	position: relative;
	padding-bottom: 15px;
}

.flex-wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.no-flex {
	flex-shrink: 0;
}

.flex {
	flex-grow: 1;
}
